{% extends 'base.html.twig' %}

{% block title %}AgenceBanque index{% endblock %}

{% block body %}
    <h1>AgenceBanque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Agence</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence_banque in agence_banques %}
            <tr>
                <td>{{ agence_banque.id }}</td>
                <td>{{ agence_banque.agence }}</td>
                <td>{{ agence_banque.cp }}</td>
                <td>{{ agence_banque.ville }}</td>
                <td>
                    <a href="{{ path('agence_banque_show', {'id': agence_banque.id}) }}">show</a>
                    <a href="{{ path('agence_banque_edit', {'id': agence_banque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agence_banque_new') }}">Create new</a>
{% endblock %}
